$primary-bg-color: #1e2325;
$secondary-bg-color: #22282C;

$primary-text-color: #F5F5F5;
$secondary-font-color: #5C6468;

$icon-color: #5C6468;

$success-color: #38A7D3;
$error-color: #cd4b4b;
$warning-color: #cd884b;
$neutral-color: #2A3134;

$line-color: #2A3134;

$padding: 1rem;

$navbar-height: 3.5rem;

$border: 1px solid $line-color;
$border-radius: .25rem;

$input-bg-color: #22282C;
$input-padding: 1rem;

$overlay-color: #191B1D;