@import "../../abstracts/variables";

.create-todo {
    z-index: 1;

    &__cta-button {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        padding: .75rem;
        background-color: $secondary-bg-color;
        border-radius: $border-radius;
        box-sizing: border-box;
        cursor: pointer;

        // &:hover {
        //     border: 1px solid $success-color;

        //     & > * {
        //         color: $success-color;
        //     }
        // }
    }

    &__icon, &__cta-message {
        background-color: $secondary-bg-color;
        color: $secondary-font-color;
    }
}