@import "../../abstracts/variables";

.todo-list {
    width: 100%;

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__no-todos-message {
        text-align: center;
        position: absolute;
        color: $secondary-font-color;
    }

    &__todo-list {
        width: 100%;
    }

    &__no-search-results-message {
        margin: 3rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    &__create-todo-button {
       padding: .5rem 1rem; 
       outline: none;
       color: $secondary-font-color;
       border: 1px solid $secondary-font-color;
       border-radius: .25rem;
       transition: all .2s ease-in-out;
       cursor: pointer;

    //    &:hover {
    //     border: 1px solid $success-color;
    //     color: $success-color;
    //    }
    }

    &__todo-list-menu {
        padding: .75rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: $border;
    }

    &__todo-status {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5rem;

        span {
            font-size: 1.25rem;
            color: $secondary-font-color;
        }
    }

    &__options-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
        cursor: pointer;
    }

    &__clear-completed-button {
        font-size: .75rem;
        text-transform: uppercase;
        color: $secondary-font-color;
        padding: .25rem .5rem;
        border-radius: .25rem;
        border: 1px solid $secondary-font-color;
        cursor: pointer;
    }
}