form {
    margin-top: 25px;
    padding: 15px 20px;
    background-color: #22282C;
    border-radius: 10px;
}

.todoToAdd {
    border: none;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: inherit;
    /* color: #5E676B; */
    color: #F5F5F5;
    width: 100%;
}

::placeholder {
    color: #394144;
}

.todoToAdd:focus {
    outline: none;
}