.navbarContainer {
    display: fixed;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 2.5rem;
    border-bottom: 1.5px solid #2A3134;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.homepageLink {
    color: #F5F5F5;
    text-decoration: none;
    font-size: 0.85rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2rem;
}