.App {
  height: 70vh;
  width: 50vw;
  color: #F5F5F5;
  font-family: Karla, Arial, Helvetica, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 1.75rem;
  font-weight: 600;
  display: inline-block;
}

.subtitle {
  color: #5E676B;
  display: inline-block;
  margin-left: 30px;
}