@import "../../abstracts/variables";

.create-todo-modal {
    height: 100%;

    &__overlay {
        width: 100vw;
        height: 100%;
        background-color: $overlay-color;
        opacity: 75%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    input, textarea {
        width: 50ch;
        outline: none;
        border: 1px solid transparent;
        border-radius: .25rem;
    }

    &__content {
        width: max-content;
        height: max-content;
        background-color: $secondary-bg-color;
        position: absolute;
        left: 50%;
        top: 15%;
        transform: translateX(-50%);
        border: $border;
        border-radius: .25rem;
        padding: .5rem;
        z-index: 5;

        & * {
            background-color: inherit;
        }
    }

    &__create-todo-form {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    &__create-todo-title-input {
        padding: .5rem 0;
    }

    &__warning-message {
        // padding: 0 .25rem;
        color: $warning-color;
    }

    &__optional-details {
        padding-bottom: .5rem;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        border-top: 1px solid $line-color;
        border-bottom: 1px solid $line-color;
        outline: none;

        &:focus {
            border: 1px solid $success-color;
        }
    }

    &__optional-details-heading {
        padding: 1rem 0;
    }

    &__create-todo-note-input {
        padding: .5rem;
        background: $primary-bg-color;
        resize: none;
    }

    &__action-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
    }

    &__action-button {
        padding: .5rem 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
        cursor: pointer;

        &--success {
            background-color: $success-color;
        }
    }
}